<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{projectName}}</title>
</head>
<body>
<p>Dear Student,</p>

<p>Please find attached the portfolio feedback sheet for your group {{group_name}}.
Please forward it to your team members as needed.</p>

<p>Your Mark is: {{mark}}</p>
<p>Best regards</p>

<p><span style="color:rgb(34, 34, 34); font-size:small">--</span></p>

<p>Dr Daniel Schien<br/>
    Senior Lecturer in Computer Science<br/>
    Department of Computer Science<br/>
    University of Bristol<br/>
    Merchant Venturers Building<br/>
    Woodland Rd<br/>

    A top 10 UK university and top 50 world university (QS Rankings 2020)<br/>
    A top 2 UK university with leading employers (High Fliers 2019)<br/>
    A top 5 UK university for research (THE analysis of REF 2014)<br/>
    A top 6 European university for teaching (THE 2018)<br/>
</p>


</body>
</html>